<!-- app/views/restaurants/index.html.erb -->
<% @tasks.each do |task| %>
  <h2><%=link_to task.title, task_path(task) %>
    <%= link_to "press here to delete", delete_path(task), method: :delete %>
  </h2>
<% end %>

<%= link_to "Add new task", "/tasks/new" %>

